.encabezado-logros th {
    background-color: #003366; /* azul oscuro */
    color: #f0f0f0;            /* texto claro */
    font-weight: 600;
    border-bottom: 2px solid #001f4d;
    padding: 10px 12px;
}

.encabezado-logros th:hover {
    background-color: #003366 !important;
    color: #f0f0f0 !important;
    cursor: default;
}
