/* Nuevo contenedor para organizar las dos columnas */
.login-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: rgba(255,255,255,0.9);
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3);
}

/* Columna del colegio */
.institution-box {
    text-align: center;
    width: 300px;
    display: block;
}

.institution-subtitle {
    font-size: 18px;
    color: #555;
}

.institution-title {
    max-width: 100%;  /* Asegura que el logo no sea más grande que el contenedor */
    height: auto;     /* Mantiene la proporción del logo */
    margin: 0 auto;   /* Centra el logo horizontalmente */
    margin-left: 80px; /* Mueve el logo 20px hacia la derecha */
    margin-top: -40px;
}



/* Responsive para pantallas pequeñas */
@media (max-width: 768px) {
    .login-box {
        flex-direction: column;
        padding: 20px;
    }

    .institution-box,
    .wrap-login {
        width: 100%;
        max-width: 400px;
    }
}

@font-face {
    font-family: Poppins-Regular;
    src: url('../fuentes/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../fuentes/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../fuentes/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('../fuentes/poppins/Poppins-SemiBold.ttf');
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Poppins-Regular, sans-serif;
}


input {
    outline: none;
    border: none;
}

button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

/*-- contenedor del Login--*/

.container-login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url('../img/fondoLogin.svg') no-repeat center top;
    background-size: cover;
    background-color: #f5f5f5; /* opcional, por si el SVG no cubre todo */
    background-position: center -50px; /* subirla y moverla a la derecha:*/


}



.wrap-login {
    width: 400px;
    background: #eceff1;
    border-radius: 20px;
    overflow: hidden;
    padding: 77px 55px 53px 55px;
    -webkit-box-shadow: 25px 40px 28px 0px rgba(0, 0, 0, 0.38);
    /* box-shadow: eje-x | eje-y | blur-radius | color */
}


/*----Formulario de user y password----*/

.login-form {
    width: 100%;
}

.login-form-title {
    display: block;
    font-family: Poppins-Bold;
    font-size: 40px;
    color: #333333;
    line-height: 1.5;
    text-align: center;
}


/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-bottom: 37px;
}

.input100 {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #555555;
    line-height: 1.2;

    display: block;
    width: 100%;
    height: 45px;
    background: transparent;
    padding: 0 5px;
}

/*---------------------------------------------*/
.focus-efecto {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}


/*Efectos de las barras al escribir en cada campo */
.focus-efecto::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 4px; /*ancho de la linea que hace el efecto de barra de progeso en el input al hacer foco*/

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

    background: #004e92;
    background: -webkit-linear-gradient(left, #004e92, #000000);
    background: -o-linear-gradient(left, #004e92, #000000);
    background: -moz-linear-gradient(left, #004e92, #000000);
    background: linear-gradient(left, #004e92, #000000);
}

.focus-efecto::after {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #999999;
    line-height: 1.2;

    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 16px;
    left: 0px;
    padding-left: 5px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.input100:focus + .focus-efecto::after {
    top: -15px;
}

.input100:focus + .focus-efecto::before {
    width: 100%;
}

.has-val.input100 + .focus-efecto::after {
    top: -15px;
}

.has-val.input100 + .focus-efecto::before {
    width: 100%;
}

/*---------------------------------------------*/


/*------------------------------------------------------------------
[ Button ]*/
.container-login-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 13px;
}

.wrap-login-form-btn {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 40px 5px;
    overflow: hidden;
    margin: 0 auto;
}

/*Animaciones al pasar el cursor */
.login-form-bgbtn {
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    background: #a64bf4;
    background: -webkit-linear-gradient(right, #004e92, #000000, #004e92, #000000);
    background: -o-linear-gradient(right, #004e92, #000000, #004e92, #000000);
    background: -moz-linear-gradient(right, #004e92, #b721ff, #004e92, #000000);
    background: linear-gradient(right, #004e92, #000000, #004e92, #000000);
    top: 0;
    left: -100%;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.login-form-btn {
    font-family: Poppins-Medium;
    font-size: 20px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
}

.wrap-login-form-btn:hover .login-form-bgbtn {
    left: 0;
}


/*--- Para dispositivos small responsive ---*/

@media (max-width: 576px) {
    .wrap-login {
        padding: 77px 15px 33px 15px;
    }
}